@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: monospace;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100svh;
  height: 100vh;

  background-color:hsla(280,21%,92%,1);
  background-image:
  radial-gradient(at 66% 52%, rgb(230, 228, 229) 0px, transparent 50%),
  radial-gradient(at 50% 60%, rgb(205, 205, 219) 0px, transparent 50%),
  radial-gradient(at 96% 59%, rgb(199, 199, 199) 0px, transparent 50%),
  radial-gradient(at 65% 79%, rgb(210, 208, 218) 0px, transparent 50%),
  radial-gradient(at 87% 36%, hsla(307,23%,88%,1) 0px, transparent 50%),
  radial-gradient(at 51% 70%, rgb(196, 206, 196) 0px, transparent 50%),
  radial-gradient(at 15% 96%, rgb(176, 190, 202) 0px, transparent 50%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2em);
  max-width: 960px;
  height: 100px;
  font-size: 2vw;
  font-family: monospace;
}

header img {
  width: 75px;
}

h1 {
  font-family: 'Roboto';
}

/* BUTTONS */
button {
  background-color: transparent;
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.212);
  border-radius: 50em;
  padding: 0.5em 1em;
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
  transform: translateY(-4px);
  background-color: #333;
  color: white;
}

button:active {
  transform: translateY(4px);
  background-color: rgba(0, 0, 0, 0);
  color: #333;
}

/* NEWS FEED */
.news-feed {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  height: 75svh;
  height: 75vh;
  max-width: 960px;
  min-width: 960px;
  overflow-y: auto;

  margin: 1em;
  background-color: #ffffff27;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 1em;
  border-radius: 10px;
  scrollbar-width: thin;
  scrollbar-color: #888 #f4f4f9;

  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

.news-feed::-webkit-scrollbar-track {
  margin-block: 13px;
}

.news-feed::-webkit-scrollbar {
  width: 8px;
}

.news-feed::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.news-story {
  padding: 10px 0;
  border-bottom: 1px solid #00000038;
  margin-inline: 2em;
  padding-bottom: 1em;

  width: 80%;
  &:last-child {
      border-bottom: none;
  }
}

.news-title {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin-bottom: 8px;
  transition: color 0.3s ease-in-out;

  font-size: 1.25em;
  font-weight: 500; 
  line-height: 1.4; 
  margin-bottom: 12px; 

  &:hover {
      color: #3498db;
  }
}

.news-info {
  font-size: 1em;
  line-height: 1.6; 
  color: #555;
  margin-bottom: 10px;
}

.news-timestamp {
  font-size: 0.85em;
  color: #a0a5aa; 
}




/* PRICE FEED */
.stock-ticker {
  display: flex;
  overflow: hidden; 
  width: calc(100% - 2em);
  max-width: 960px;
  padding-inline: 40px;
  padding-block: 20px;
  margin-block: 20px;

  border-radius: 10px;

  background-color: #ffffff28;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  scrollbar-width: thin;
  scrollbar-color: #888 #f4f4f9;
}

.stock-ticker-content {
  display: flex;
  gap: 40px;
  white-space: nowrap;
  animation: tickerMove 200s linear infinite;
}

.stock-item {
  display: flex;
  gap: 10px;
  width: auto;

  padding: 8px 16px;
  transition: background-color 0.3s ease-in-out;
}

.stock-item span {
  display: flex;
  width: auto;
  text-wrap: nowrap;
}

.stock-symbol {
  font-weight: bold;
  color: #34495e;
  margin-right: 10px;
  font-size: 1.3em;
}

.stock-price {
  font-size: 1.3em;
  color: #0992d1;
}



/* Animations */
@keyframes tickerMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}






/* Mobile */
@media screen and (max-width: 767px) {
  .news-feed {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 75svh;
    height: 75vh;
    width: 100%;
    max-width: 100%;
    min-width: 350px;
    overflow-y: auto;
  
    margin: 1em;
    padding: 0px;
    padding-block: 2em;
  }

  .news-story {
    padding: 10px 0;
    border-bottom: 1px solid #00000038;
    margin-inline: 1em;
    padding-bottom: 1em;
    &:last-child {
        border-bottom: none;
    }
  }

  header h1 {
    display: none;
  }

  .stock-ticker {
    width: 100%;
  }
}



/* Loading Spinner */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  border: 30px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 30px solid #333;
  width: 150px;
  height: 150px;
  animation: spinner 1.66s linear infinite;
}
